plots/equinix-1s/QQplot - Normal.dat
plots/equinix-1s/QQplot - Cauchy.dat
plots/equinix-1s/Cauchy - Linearized data and linear fitting.dat
plots/equinix-1s/Weibull - Linearized data and linear fitting.dat
plots/equinix-1s/QQplot - Pareto(LR).dat
plots/equinix-1s/Exponential - Linearized data and linear fitting.dat
plots/equinix-1s/Pareto - Linearized data and linear fitting.dat
plots/equinix-1s/QQplot - Weibull.dat
plots/equinix-1s/QQplot - Pareto(MLH).dat
plots/equinix-1s/QQplot - Exponential(LR).dat
plots/equinix-1s/QQplot - Exponential(Me).dat
